*.css.map
*.py[cod]
/.coverage
/.env
/.sass-cache
/.tox
/build
/celerybeat-schedule
/db.sqlite3
/dist
/docs/_build
/media
/network/static/lib
/node_modules
/satnogs_network.egg-info
/staticfiles
__pycache__
