[MASTER]
ignore=_version.py,migrations
load-plugins=pylint_django
ignored-argument-names=args|kwargs

[MESSAGES CONTROL]
disable=
    E1121, # too-many-function-args
    R0801, # needs to remain disabled see https://github.com/PyCQA/pylint/issues/214
    R0912, # too-many-branches
    R0913, # too-many-arguments
    R0914, # too-many-locals
    W0201, # attribute-defined-outside-init
    W0703, # broad-except
# py3k transition issues:
    E1608, # old-octal-literal
    W1612, # unicode-builtin
    W1618, # no-absolute-import
    W1619, # old-divison
    W1633, # round-builtin
    W1645, # exception-message-attribute
    W1648, # bad-python3-import
    W1658, # deprecated-urllib-function
