# Overriding settings.py values.
# Uncomment values for usage.

# ENVIRONMENT='dev'
# DEBUG=True

# Security
# SECRET_KEY=changeme
# ALLOWED_HOSTS=localhost

# Mapbox
# MAPBOX_TOKEN=enter_mapbox_token_here
